$primary-color: rgb(63,81,181);
$accent-color: hotpink;
$text-color: #333333;

$white: white;
$light-gray: lightgray;
$gray: darkgray;
$dark-gray: gray;
$black: black;


$error: indianred;
$warning: orange;
$ok: #5cb85c;
$paused: #999;
$stopped: steelblue;
$disabled: #BBB;
